<%= simple_form_for(assessment, html: {class: 'form-horizontal left' }, wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } ) do |f| %>
  <% if assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :individual_id, :value => @individual.id %>
    <%= f.input :date_collected, :label => "Date collected" %>
    <div class="well">
     
        <%= f.input :still_resident_of_neighborhood_years, :label=>"How many years have you been a resident of your neighborhood?" %>
        <%= f.input :still_resident_of_neighborhood_months, :label=>"...and how many months (past the years in the previous field) have you been a resident of your neighborhood?" %>

        <%= f.input :self_sufficency_goal,
               :label => "What is your major goal for becoming self-sufficient?",
               :collection => {"Employment"=>0, "Education"=>1, "Other"=>2},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.input :filed_1040_in_last_year,
               :label => "Did you file 1040 tax return for last calendar year?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= f.input :last_calendar_years_income, :label => "Last calendar year's adjusted gross income (from 1040 tax return)?" %>
        <%= f.input :currently_receive_earned_income_tax_credit,
               :label => "Do you currently receive earned income tax credit?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_receive_earned_income_tax_credit', 'option-value': 'true'} do %>            
            <%= f.input :earned_income_tax_credit_amount, :label => "Amount?"%>
        <% end %>
        <%= f.input :currently_registered_to_vote,
               :label => "Are you currently registered to vote?",
               :collection => {"Yes"=>1, "No"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_currently_registered_to_vote', 'option-value': '1'} do %>            
            <%= f.input :vote_local, :label => "Do you vote for local elections? (i.e. taxes, mayor, city council)",
               :collection => {"Yes"=>"yes", "No"=>"no"},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :vote_state, :label => "Do you vote for state elections? (i.e. taxes, governor, senate)",
               :collection => {"Yes"=>"yes", "No"=>"no"},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :vote_federal, :label => "Do you vote for federal elections? (i.e. president, congress)",
               :collection => {"Yes"=>"yes", "No"=>"no"},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= f.input :vote_frequency,
               :label => "How often do you vote?",
               :collection => {"Never"=>0, "Not very often"=>1, "Pretty regularly"=>2, "Very regularly"=>3},
                  :label_method => :first,
                  :value_mathod => :last %>

       <% end %>


  <div class="well">
      <h3>Have you ever been told by a medical clinician that you have...</h3>
      <%= f.input :medical_high_blood_sugar,
               :label => "...high blood sugar?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :medical_diabetes,
               :label => "..diabetes?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_medical_diabetes', 'option-value': 'true'} do %>            
         <%= f.input :medical_diabetes_type,
               :label => "Which type?",
               :collection => {"Type 1"=>"type 1", "Type 2"=>"type 2", "Gestational"=>"gestational"},
                  :label_method => :first,
                  :value_mathod => :last %>

       <% end %>
       <%= f.input :medical_pulmonary_disease,
               :label => "...pulmonary disease (COPD/asthma)?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
       <%= f.input :medical_elevated_blood_pressure,
               :label => "..elevated blood pressure?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      
      <%= f.input :medical_mental_health_diagnosis,
               :label => "...mental health diagnosis?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :medical_tobacco_products,
               :label => "Do you use tobacco products?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= f.input :medical_alcohol,
               :label => "Do you drink alcohol?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
      <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_medical_alcohol', 'option-value': 'true'} do %>            
         <%= f.input :medical_alcohol_avg_drinks_per_week, input_html: {value: '3', step:'1'}, label: "On average, how many drinks do you consume per week?"%>
      <% end %>
  </div>

   <%= f.input :medical_height, label: "Height (in inches, i.e. 60 inches is 5 feet):"%>
      <%= f.input :medical_weight, label: "Weight (lb):"%>
      
      <%= f.input :primary_care_physician_primary,
               :label => "Do you have a primary care physician?",
               :collection => {"Yes"=>1, "No"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>

      <%= f.input :primary_care_physician_children,
               :label => "Do your children have a primary care physician?",
               :collection => {"Yes"=>1, "No"=>0},
                  :label_method => :first,
                  :value_mathod => :last %>

      <%= f.input :medical_treatment_location,
                   :label => "Where do you seek medical treatment?",
                   :collection => {"ER"=>0,"Urgent Care"=>1, "Primary Care"=>2, "Free Clinics"=>3},
                      :label_method => :first,
                      :value_mathod => :last %>
        <%= f.input :current_health,
                   :label => "How would you describe your current health?",
                   :collection => {"Excellent"=>4,"Very Good"=>3, "Good"=>2, "Fair"=>1, "Poor"=>0},
                      :label_method => :first,
                      :value_mathod => :last %>
        <%= f.input :happiness_level,
                   :label => "How happy are you?",
                   :collection => {"Very Happy"=>4,"Happy"=>3, "Neutral"=>2, "Unhappy"=>1, "Very unhappy"=>0},
                      :label_method => :first,
                      :value_mathod => :last %>


       <%= f.input :convicted_of_crime_last_six_months,
               :label => "Have you been convicted of a crime in the last six months?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
       <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_convicted_of_crime_last_six_months', 'option-value': 'true'} do %>            
          <%= f.input :in_need_of_current_criminal_resolution,
               :label => "Is there a current need for resolution of criminal background?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <% end %>
       

        <%= f.input :other_legal_matters_need_resolved,
               :label => "Any other legal matters that need resolved?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>

        <%= f.input :marital_status,
              :label => "Marital Status",
            :collection => {"Married"=>0, "Divorced"=>1, "Widowed"=>2, "Single (never married)"=>3, "Separated"=>4}, 
               :label_method => :first,
               :value_method => :last %>

        <%= f.input :part_of_matched_circle,
               :label => "Are you part of a matched circle?",
               :collection => {"Yes"=>true, "No"=>false},
                  :label_method => :first,
                  :value_mathod => :last %>
        <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_part_of_matched_circle', 'option-value': 'true'} do %>            
          <%= f.input :how_many_allies,
               :label => "How many allies?"%>
        <% end %>
       
        
        <%= f.input :attended_at_least_two_meetings_in_last_six_months,:label => "Have you attended at least 2 circles meeting for each of the past six months?", :wrapper => :inline_checkbox %>


        <%= f.input :have_you_recently_worked_with_an_ally, :label => "In the last six months have you worked with an Ally? (resume assistance, financial advice, tutoring, etc.?", :wrapper => :inline_checkbox %>

    <div id="self_sufficiency" class="well">
        <h3>Self-Sufficiency Assessment</h3>
        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-housing">Housing</a>
        </div>
        <div id="ss-assessment-housing" class="well">
           <%= f.input :family_best_description_current_situation_housing,
               :label => "Please select which of the following best describes your family's current situation:",
               :collection => {"Family is currently homeless (i.e. homeless shelter, on the streets, out of vehicle, residing in treatment facility or are staying with friends"=>1,
                               "Family is in transitional housing (i.e. temporary housing, hotel, motel, short term lease (less than six months) or current residence is in need of major repairs"=>2, 
                               "Family is currently living in permanent housing and there is a threat of eviction"=>3,
                               "Family is currently living in permanent housing but the cost exceeds 50% of family income"=>4,
                               "Family is currently living in permanent non-subsidized housing"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-transportation">Transportation</a>
        </div>
        <div id="ss-assessment-transportation" class="well">
            <%= f.input :family_best_description_current_situation_transportation,
               :label => "Please help me select which of the following best describes your family's current situation:",
               :collection => {"No transportation"=>1,
                               "No transportation; but are able to borrow car, access public transportation but have limited resources for fare, no license"=>2, 
                               "Have a vehicle but needs major repairs, not licensed, etc."=>3,
                               "Own vehicle but needs minor repairs, limited resources for gas"=>4,
                               "Own vehicle and does not need repair and has resources for gas"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-employment">Employment</a>
        </div>
        <div id="ss-assessment-employment" class="well">
          <%= f.input :primary_adult_enrolled_best_description_employment,
               :label => "Please select which of the following best describes your situation:",
               :collection => {"Unemployed or never worked"=>1,
                               "Unemployed for less than 3 months."=>2, 
                               "Part-time employment"=>3,
                               "Full-time employment without fringe benefits"=>4,
                               "Full-time employment with a living wage and benefits"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-education">Educational / Academic Attainment</a>
        </div>
        <div id="ss-assessment-education" class="well">
          <%= f.input :primary_adult_enrolled_best_description_academic,
               :label => "Select which of the following best describes the situation for the primary adult enrolled in the program:",
               :collection => {"Lack of academic skills is currently a barrier to employment or other goal attainment"=>1,
                               "Lack of academic skills severely limits employment or other goal attainment.  Able to read with pictures and perform basic addition and/or subtraction."=>2, 
                               "Lack of academic skills limits employment or other goal attainment.  Able to read and complete basic job applications and can perform basic calculations"=>3,
                               "Academic skills occasionally limit employment or other goal attainment.  Can read and perform math calculations at a high school level"=>4,
                               "Academic skills are not a barrier to employment or other goal attainment"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-income">Income / Budget</a>
        </div>
        <div id="ss-assessment-income" class="well">
          <%= f.input :family_best_description_current_situation_income,
               :label => "Please select which of the following best describes your families current situation:",
               :collection => {"No regular or consistent income"=>1,
                               "Income does not meet basic needs."=>2, 
                               "Income meets basic needs but is insufficient for emergencies"=>3,
                               "Income meets basic needs and allows for minor emergencies"=>4,
                               "Income meets basic needs, emergencies, and allows for extras and savings"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-insurance">Health Insurance</a>
        </div>
        <div id="ss-assessment-insurance" class="well">
          <%= f.input :health_insurance,
               :label => "**HEALTH INSURANCE: Select which of the following best describes your family's current situation:",
               :collection => {"No health insurance for any family member"=>1, 
                               "Not all family members are insured"=>2,
                               "All family members are covered by government insurance"=>3,
                               "All family members are insured, but the premiums and/or co-pays are unaffordable"=>4,
                               "All family members are covered by insurance and the premiums and co-pays are affordable"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_health_insurance', 'option-value': '2|3|4|5'} do %> 

            <%= f.input :health_insurance_primary,
                   :label => "What type of health coverage do YOU have?",
                   :collection => {"No coverage"=>0,"Employer-provided coverage"=>1, "Individually Purchased Private Health Plan"=>2, "Individually purchased through affordable healthcare act (healthcare.gov)"=>3, "Government sponsored health plan (medicare, medicaid, veterans health administration"=>4, "Other"=>5},
                      :label_method => :first,
                      :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_health_insurance_primary', 'option-value': '5'} do %> 
            <%= f.label "If other, please describe." %>
            <%= f.text_field :health_insurance_primary_other, :class => "form-control" %>        

            <% end %>
            <%= f.input :health_insurance_children,
                   :label => "What type of health coverage do your CHILDREN have?",
                   :collection => {"No coverage"=>0,"Employer-provided coverage"=>1, "Individually Purchased Private Health Plan"=>2, "Individually purchased through affordable healthcare act (healthcare.gov)"=>3, "Government sponsored health plan (medicare, medicaid, veterans health administration"=>4, "Other"=>5},
                      :label_method => :first,
                      :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_health_insurance_children', 'option-value': '5'} do %> 
            <%= f.label "If other, please describe." %>
            <%= f.text_field :health_insurance_children_other, :class => "form-control" %>        

            <% end %>

            <%= f.input :health_insurance_spouse_or_significant_other,
                   :label => "What type of health coverage does your SPOUSE OR SIGNIFICANT OTHER have?",
                   :collection => {"No coverage"=>0,"Employer-provided coverage"=>1, "Individually Purchased Private Health Plan"=>2, "Individually purchased through affordable healthcare act (healthcare.gov)"=>3, "Government sponsored health plan (medicare, medicaid, veterans health administration"=>4, "Other"=>5, "N/A"=>6},
                      :label_method => :first,
                      :value_mathod => :last %>
            <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'assessment_health_insurance_spouse_or_significant_other', 'option-value': '5'} do %> 
               <%= f.label "If other, please describe." %>
               <%= f.text_field :health_insurance_spouse_or_significant_other_other, :class => "form-control" %>        

               <% end %>
            </div>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-physical">Physical Health</a>
        </div>
        <div id="ss-assessment-physical" class="well">
          <%= f.input :medical_physical_family_member_impact,
               :label => "**PHYSICAL HEALTH: Please select which of the following best describes your family's current situation:",
               :collection => {"A family member's health problems prohibit employment or other goal options.  Or, family member is in need of 24 hour care."=>1, 
                               "A family member's health problem regularly interferes with employment or other goals"=>2,
                               "A family member's health problems occasionally interferes with employment or other goal options"=>3,
                               "A family member's physical health problem does not interfere with employment or other goal options"=>4,
                               "There are no physical health problems for any family member at this time"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
      
      <% end %>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-mental">Mental Health / Substance Abuse</a>
        </div>
        <div id="ss-assessment-mental" class="well">
          <%= f.input :family_best_description_current_situation_mental_health,
               :label => "Please select which of the following best describes your family's current situation:",
               :collection => {"A family member's mental health and/or substance abuse prohibit employment or other goal atttainment"=>1,
                               "A family member's mental health and/or substance abuse regularly interferes with employment/other goals"=>2, 
                               "A family member's mental health and/or substance abuse occasionally interfere with employment/other goals"=>3,
                               "A family member's mental health and/or substance abuse does not interfere with employment/other goals"=>4,
                               "There are no mental health or substance abuse problems for any family member at this time"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-psychosocial">Psychosocial & Environmental Stressors</a>
        </div>
        <div id="ss-assessment-psychosocial" class="well">
           <%= f.input :primary_adult_enrolled_best_description_stressors,
               :label => "Please select which of the following describes the situation for the primary adult enrolled in the program:",
               :collection => {"Current stressors are so great that participant is unable to focus on employment or other goal attainment"=>1,
                               "Current stressors considerably affect participant's ability to focus on employment or other goal attainment"=>2, 
                               "Current stressors moderately affect participant's ability to focus on employment or other goal attainment"=>3,
                               "Current stressors only minimally affect participant's ability to focus on employment or other goal attainment"=>4,
                               "Stressors do not currently interfere with employment or other goal attainment"=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-parenting">Parenting Skills</a>
        </div>
        <div id="ss-assessment-parenting" class="well">
           <%= f.input :primary_adult_enrolled_parenting,
               :label => "Please select which of the following describes your family's current situation:",
               :collection => {"Current known or suspected safety concerns regarding parenting skills"=>1,
                               "New to parenting or has limited parenting skills (unfamiliar with child development, unrealistic expectations, etc.)"=>2, 
                               "Parenting skills are apparent but not adequate, open to identify areas of weakness and growth"=>3,
                               "Parenting skills are adequate, but not confident in skills"=>4,
                               "Parenting skills are optimal, confident in knowledge and skills and completed parenting class within 3 years."=>5},
                  :label_method => :first,
                  :value_mathod => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-childcare">Quality Childcare</a>
        </div>
        <div id="ss-assessment-childcare" class="well">
           <%= f.input :SS_quality_childcare, 
              :label => "Please select which of the following best describes your family's current situation:",
              :collection => {"Child care is needed for education or employment goal but is unavailable"=>1,
                              "Child care and subsidy are available but child care provider will not / cannot accept subsidy, or cost is unaffordable"=>2,
                              "Child care is available and affordable (may use subsidy) but of poor quality.  There is no emergency backup caregiver or plan"=>3,
                              "Child care is available, and affordable (may use subsidy), and good quality.  There is no emergency backup caregiver or plan"=>4,
                              "Child care is available, affordable, good quality and there is at least one emergency backup caregiver or plan."=>5, 
                              "Childcare not needed"=>0},
              :label_method => :first,
              :value_method => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-criminal">Legal (Criminal)</a>
        </div>
        <div id="ss-assessment-criminal" class="well">
           <%= f.input :ss_criminal, 
              :label => "Please select which of the following best describes your current situation:",
              :collection => {"Current outstanding warrants or tickets; or has a felony conviction or arrest in the past year"=>1,
                              "Current charges / trial pending; noncompliance with probation / parole; has extensive criminal history."=>2,
                              "Currently on probation / parole and is fully compliant; or has a moderate criminal history"=>3,
                              "Completed probation / parole within the past 12 months, no new charges filed; or minor criminal charges."=>4,
                              "No criminal history."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-noncriminal">Legal (Non-criminal)</a>
        </div>
        <div id="ss-assessment-noncriminal" class="well">
           <%= f.input :ss_non_criminal, 
              :label => "Please select which of the following best describes your current situation:",
              :collection => {"Significant legal issues and is not addressing them or does not understand the problem involves legal issues"=>1,
                              "Identified legal issues but is unable to proceed without legal assistance"=>2,
                              "Responded to legal issues with appropriate legal assistance"=>3,
                              "Currently has legal representation and issues are moving towards resolution."=>4,
                              "No legal issues or issues have been fully resolved."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-support">Support System</a>
        </div>
        <div id="ss-assessment-support" class="well">
          <%= f.input :ss_support_system, 
              :label => "Please select which of the following best describes your family's current situation:",
              :collection => {"No personal support systems and no knowledge of available community supports."=>1,
                              "No personal support, but knows where to go in the community for help when experiencing a need or crisis."=>2,
                              "1-3 personal supports and basic community networks are available in times of need."=>3,
                              "3-5 personal supports available and is connected with at least one community support (non-profit, church, etc.)."=>4,
                              "5+ personal supports available and is able to give support in return; active in community support networks."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>


        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-support">Food</a>
        </div>
        <div id="ss-assessment-support" class="well">
          <%= f.input :ss_food, 
              :label => "Please select which of the following best describes your family's food situation:",
              :collection => {"No food or means to prepare it. Rely primarily on sources of free or low-cost food."=>1,
                              "Household meeting most food needs with SNAP benefits."=>2,
                              "Can meet basic food needs, but require occasional assistance."=>3,
                              "Can meet basic food needs without assistance."=>4,
                              "Can choose to purchase any food household desires."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-support">Home Safety</a>
        </div>
        <div id="ss-assessment-support" class="well">
          <%= f.input :ss_home_safety, 
              :label => "Please select which of the following best describes your family's home safety situation:",
              :collection => {"Home or residence is not safe; possible CPS involvement."=>1,
                              "Safety is threatened but there is temporary protection available."=>2,
                              "Current level of safety is minimally adequate."=>3,
                              "Environment is safe, however, future safety is uncertain."=>4,
                              "Environment is notably safe and stable."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>

        <div class="btn-group" data-toggle="buttons-checkbox">
            <a class="btn collapse-data-btn" data-toggle="collapse" href="#ss-assessment-support">Community Involvement</a>
        </div>
        <div id="ss-assessment-support" class="well">
          <%= f.input :ss_community_involvement, 
              :label => "Please select which of the following best describes your family's community involvement:",
              :collection => {"Not applicable due to difficult life situations, keeping family in \"survival\" mode."=>1,
                              "Socially isolated and lacking confidence or desire to become more involved."=>2,
                              "Lack knowledge about how to be more involved in the community."=>3,
                              "Some community involvement (PTA, neighborhood association, support group, etc.) but dealing with barriers like transportation and childcare issues."=>4,
                              "Actively involved in community."=>5},
              :label_method => :first,
              :value_method => :last %>
        </div>


    </div>
  </div>








     
  
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
