<%= form_for(cohort) do |f| %>
  <% if cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>

      <ul>
      <% cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :meeting_night %>
    <%= f.text_field :meeting_night %>
  </div>

  <div class="field">
    <%= f.label :meeting_time %>
    <%= f.text_field :meeting_time %>
  </div>

    <%= hidden_field_tag 'cohort[organization_id]', current_user.organization_id  %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
