  <div id="wrapper">
        <div id="sidebar-wrapper" class="col-md-1">
            <div id="sidebar">
                <ul class="nav list-group">
                    <li>
                        <a class="list-group-item" href="/families"><i class="icon-home icon-1x"></i>Families</a>
                    </li>
                    <li>
                        <a class="list-group-item" href="/assistance"><i class="icon-home icon-1x"></i>Assistance</a>
                    </li>
                    <li>
                        <a class="list-group-item" href="/reports"><i class="icon-home icon-1x"></i>Reports</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main-wrapper" class="col-md-11 pull-right">
            <div id="main">
              <div class="navbar">
                <h1>Drew Lewis Foundation @ The Fairbanks</h1>
              </div>

                <div class="container">
          
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span8 well">
                               <ul class="families">
                                 <%= render @families %>
                               </ul>
                                <div class="tab-content panel-body">
                                    <div class="tab-pane active fade in" id="demographics">
                                        
                                        <p>
                                        
                                    </div>
                                    <div class="tab-pane" id="medical">
                                      Medical tab content
                                    </div>
                                    <div class="tab-pane" id="financial">
                                      Financial tab content
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
</div>

