
  <p id="notice"><%= notice %></p>
  
  <h2>Hello <%= @individual.first_name %>. Thank you for participating in the Northwest Project!</h2>
  <%= button_to "Enter Assessment", new_assessment_path(individual_id: @individual.id), class: "btn btn-default", method: 'get' %>

<p>
<%= link_to 'Edit My Information', edit_individual_path(@individual), method: :get  %> 
