<%#
locals:
  f - form context
  child - Child to be displayed
%>
 
<div class='household_member' id='<%= household_member.id %>'>
  <h3>Household Member</h3>
  <%= f.hidden_field :id %>
  ...
  <p><a href='#' class='household_member-remove'>Remove the household Member above</a></p>
</div>