<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th></th>
      <th>City</th>
      <th>ST</th>
      <th>Zip</th>
      <th>Phone #</th>
      <th>Website</th>
      <th>Contact </th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.address_line_1 %></td>
        <td><%= organization.address_line_2 %></td>
        <td><%= organization.city %></td>
        <td><%= organization.state %></td>
        <td><%= organization.zip %></td>
        <td><%= organization.phone_number %></td>
        <td><%= organization.website %></td>
        <td><%= organization.primary_contact %></td>

        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Delete', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>

