<div class="well">
	<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Address Line 1:</strong>
  <%= @organization.address_line_1 %>
</p>

<p>
  <strong>Address Line 2:</strong>
  <%= @organization.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organization.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @organization.zip %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @organization.phone_number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<p>
  <strong>New Participant Sign Up Code:</strong>
  <%= @organization.code %>
</p>

<p>
  <strong>Primary Contact:</strong>
  <%= @organization.primary_contact %>
</p>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %> | 
<%= link_to 'Create Cohort', new_cohort_path %>

</div>

<h3>Individuals singed up through this organziation</h3>

<table class="table table-striped">
  <tr>
    <th>Name</th><th>Phone Number</th><th>E-mail Address</th>
    </th>
  </tr>
<% @individuals.each do |i| %>
  <tr>
    <td><%= i.to_label %></td><td><%= i.phone_number %></td><td><%= i.email_address %></td>
  </tr>
<% end %>
</table>
